@using Microsoft.AspNetCore.Http
@model dynamic
@{
    Layout = null;
}

<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            <!--Navigation-->
        </div>
        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">

                    <li id="menu-home">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">
                            <i class="fas fa-home" aria-hidden="true"></i>
                            <span>@Back.Resources.Menu.Resource.Home</span>
                        </a>
                    </li>

                    <li class="nav-parent" id="menu-administration">
                        <a class="nav-link" href="#">
                            <i class="fas fa-tools" aria-hidden="true"></i>
                            <span>@Back.Resources.Menu.Resource.Administration</span>
                        </a>

                        <ul class="nav nav-children">
                            <li class="nav-parent" id="menu-user">
                                <a class="nav-link" href="#">
                                    <i class="fas fa-user" aria-hidden="true"></i> <span>@Back.Resources.Menu.Resource.User</span> <span class="mega-sub-nav-toggle toggled float-right" data-toggle="collapse" data-target=".mega-sub-nav-sub-menu-1"></span>
                                </a>
                                <ul class="nav nav-children" style="">
                                    <li id="menu-user-list">
                                        <a class="nav-link" href="@Url.Action("Index", "User")">
                                            @Back.Resources.Menu.Resource.Users
                                        </a>
                                    </li>
                                    <li id="menu-user-new">
                                        <a class="nav-link" href="@Url.Action("Create", "User")">
                                            @Back.Resources.Menu.Resource.NewUser
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <script>
        // Maintain Scroll Position
        if (typeof localStorage !== 'undefined') {
            if (localStorage.getItem('sidebar-left-position') !== null) {
                var initialPosition = localStorage.getItem('sidebar-left-position'),
                    sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                sidebarLeft.scrollTop = initialPosition;
            }
        }
    </script>
</aside>